<script>
    import { scaleLinear } from 'd3-scale';
    import { extent } from 'd3-array';

export let data;
export let xScale;
export let yScale;
export let scaling;
export let building_index;
export let line_wd_max;

$: build = () =>
{
    let p = "M " + xScale(0) + " " + line_wd_max
    data.forEach((d,index) => {
        p += " " + xScale(index) + ' ' + yScale(d.total_heating_energy) });
    p += " " + xScale(744)  + " " + line_wd_max
    p += " " + xScale(0)  + " " + line_wd_max
    return p;
}

$:{
  if(scaling == "different") {
    yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([line_wd_max,0])
  }
}

</script>
 <g transform="translate(0, {building_index*15})">
    <path  d={build()}></path>
</g>
