<script>
    // imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";

    export let data = [];
    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));
    let gas = data.map(d => d.total_gas);
    let electricity = data.map(d => d.total_electrity);
    let Plotting_width = 240*(data.length/168);
    const Plotting_Height = 80;

    const scale_x = scaleTime()
        .domain(extent(dates))
        .range([0, Plotting_width])

    const scale_y = scaleLinear()
        .domain([0, max(electricity)])
        .range([Plotting_Height/2,0])

    const scale_y_gas = scaleLinear()
        .domain([0, max(gas)])
        .range([Plotting_Height/2, Plotting_Height])
    
    const Electricity_area = area()
        .x(d => scale_x(new Date(2014, 11, d.day, d.hour)))
        .y0(scale_y(0))
        .y1(d => scale_y(d.total_electrity))

    const Gas_area = area()
        .x(d => scale_x(new Date(2014, 11, d.day, d.hour)))
        .y0(scale_y_gas(0))
        .y1(d => scale_y_gas(d.total_gas))
</script>
<svg>
        <path d={Electricity_area(data)} fill="blue"/>
        <path d={Gas_area(data)} fill="orange"/>
        <line x1=0 y1={Plotting_Height/2} x2={Plotting_width} y2={Plotting_Height/2} />   
</svg>
