<script>
    export let city = "Baltimore"
    export let scaling = "different"

</script>
<div>

    <div>
        <h2>Type</h2>
        <label>
            <input type=radio bind:group={scaling} name="scaling1" value="different">
            Per line
        </label>
    
        <label>
            <input type=radio bind:group={scaling} name="scaling2" value="all">
            All lines
        </label>
      </div>

    <div >
        <h2>City</h2>
        <label>
        <input type=radio bind:group={city}  name="city1" value="Baltimore">
        Baltimore
        </label>
        <label>
        <input type=radio bind:group={city}  name="city2" value="Chicago">
        Chicago
        </label>
        <label>
        <input type=radio bind:group={city}  name="city3" value="Los Angeles">
        Los Angeles
        </label>
    </div>
  
</div>


  
