<script>
  //dependencies
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plotting from "./_design_3_plotting.svelte";
  // Size and margins
  const width = 1000;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //data
  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });


</script>
  <svg {width} {height}>
    {#if !data}
  <p>Loading the data, please wait...</p>
{:else}
    <g transform="translate({margin.left}, {margin.top})"> 
      <g transform="translate({(innerWidth/2)-margin.left},50) rotate(-15)">
        <Plotting data={data.filter(d => d.week == 52)}/>
      </g>  
      <g transform="translate({(innerWidth/2)+margin.left},125) scale(-1,1) rotate(-15)">
        <Plotting data={data.filter(d => d.week == 51)}/>
      </g>
      <g transform="translate({(innerWidth/2)-margin.left},200) rotate(-15)">
        <Plotting data={data.filter(d => d.week == 50)}/>
        </g>
      <g transform="translate({(innerWidth/2)+margin.left},275) scale(-1,1) rotate(-15)">
        <Plotting data={data.filter(d => d.week == 49)}/>
      </g>
      <g transform="translate({(innerWidth/2)-margin.left},350) rotate(-15)">
        <Plotting data={data.filter(d => d.week == 48)}/>
      </g>
      <line x1={width/2 - margin.left} y1={margin.top+20} x2={width/2 - margin.left} y2={height-100} style="stroke:#000000;stroke-width:6"/>
      <!-- svelte-ignore component-name-lowercase -->
      <text 
        transform="translate({(innerWidth/2)-90},{innerHeight-50})">
          Baltimore (December 2014)
      </text>
      <rect x=637 y=400 width=10 height=10 stroke="black" fill="blue" stroke-width=1></rect>
       <rect x=637 y=420 width=10 height=10 stroke="black" fill="orange" stroke-width=1></rect>
       <text x=650 y=410>Electricity</text>
       <text x=650 y=430>Gas</text>

    </g>
    {/if}
  </svg>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
