<script>
  // Dependencies

    import { extent, max, min } from 'd3-array';
    import { scaleLinear } from "d3-scale";
    import { radialArea } from "d3-shape";
    import { scaleRadial } from "d3-scale";
  // Size and margins
  const width = 750;
  const height = 400;

  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  export let data=[];
  const energy_type=["heating", "cooling"];
  const city=["Baltimore", "Chicago", "Los Angeles"]
  let dom=[];
  let dom_c=[];
  let dom_h=[];
  dom_h=extent(data,d=>d.heating);
  dom_c=extent(data, d=>d.cooling);
  dom[0] = min([dom_h[0], dom_c[0]])
  dom[1] = max([dom_h[1], dom_c[1]])


  const xScale = scaleLinear().domain(extent(data, d => d.day_of_year)).range([0, 2* Math.PI])
  const yScale1 = scaleRadial().domain(dom).range([0, innerWidth/6])
  const yScale2 = scaleRadial().domain(dom).range([0, innerWidth/6])

  const Axis1_r = radialArea().angle(d => xScale(d.day_of_year)).innerRadius(0).outerRadius(d => yScale1(d.heating));
  const Axis2_r = radialArea().angle(d => xScale(d.day_of_year)).innerRadius(0).outerRadius(d => yScale2(d.cooling));

    $: dynamic = [];
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    {#each city as c, j}  
    <g transform="translate({90+(width/10)*j},10)">
    <circle cx={100+(innerWidth/6)*j} cy=200 r={innerWidth/8} fill="white"  stroke="black"/>     
       <line x1={100+(innerWidth/6)*j} y1=110 x2={100+(innerWidth/6)*j} y2=295 stroke="black" stroke-width=1/>
       <line x1={0+(innerWidth/6)*j} y1=200 x2={200+(innerWidth/6)*j} y2=200 stroke="black" stroke-width=1/>
       <text x={70+(innerWidth/6)*j} y=70>{c}</text>
    <text class="num" x={95+(innerWidth/6)*j} y=94>0</text>
    <text class="num" x={95+(innerWidth/6)*j} y=320>6</text>
    <text class="num" x={190+(innerWidth/6)*j} y=205>3</text>
    <text class="num" x={0+(innerWidth/6)*j} y=205>9</text>
  </g>
       {#each energy_type as t, k}
           {#if t == "heating"}
           <g transform="translate({210+(innerWidth/3.9)*j}, {215})">
           <path d={Axis1_r(data.filter(d => d.city == c))} fill="red" fill-opacity=0.5 stroke="red"><title>{t}</title><path/>
           {dynamic.push(Axis1_r(data.filter(d => d.city == c)))}
           </g>
             {:else if t == "cooling"}
             <g transform="translate({210+(innerWidth/3.9)*j}, {215})">
           <path d={Axis2_r(data.filter(d => d.city == c))} fill="blue" fill-opacity=0.5 stroke="blue"><title>{t}</title><path/>
             </g>
             {/if}
         {/each}
     {/each}
     <text class="title" x={20 + innerWidth / 4} y={360}>Heating and cooling within a year</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
