<script>
  // Size and margins
  import { onMount } from 'svelte';
  import {json} from "d3-fetch"
  import { scaleLinear } from 'd3-scale';
  import { extent } from 'd3-array';

  import Controls from "./_design_1_controls.svelte";
  import Line from "./_design_1_plotting.svelte";

  const width = 800;
  const height = 300;
  const margin_d = 15;
  const line_wd_max = 3;

  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right-100;
  const innerHeight = height - margin.top - margin.bottom;

  let city = "Baltimore"
  let scaling = "different"

  let dp = [];
  let buildings = [];
  
  onMount(async () => {
        let r = await json("/data/hourly_heating_december.json")
        .then(r => dp = r)
        .then(data =>
        buildings = [...new Set(data.map((d) =>  d.buildingtype))])
  });

  let selected_data = {}
  $:  {selected_data = dp.filter(d => d.city == city)}

let xScale =  scaleLinear().domain([0, 744]).range([100, innerWidth]);
let yScale;

$:{
  if(scaling == "different") {
    yScale = null;
  }
  else {
    yScale = scaleLinear().domain(extent(selected_data.map((d) => d.total_heating_energy))).range([line_wd_max+10,0])
  }
}

</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text   x={width/3} y={innerHeight}>Energy use over multiple days</text>
    {#each buildings as b,idx}
    <g transform="translate(-50, 0)">
    <text class="buildingname" x=50 y={idx*margin_d+5}>{b}</text>
    </g>
    <Line data={selected_data.filter(d => d.buildingtype == b)} xScale = {xScale} yScale = {yScale} scaling = {scaling} building_index={idx} line_wd_max={line_wd_max}/>
      {/each}
    </g>
</svg>
<Controls bind:city={city} bind:scaling={scaling}/>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
