<script>
	let current = '';
</script>

<button
	class="{current === 'messi' ? 'selected' : ''}"
	on:click="{() => current = 'messi'}"
>messi</button>

<button
	class="{current === 'ronaldo' ? 'selected' : ''}"
	on:click="{() => current = 'ronaldo'}"
>ronaldo</button>

<button
	class="{current === 'neymar' ? 'selected' : ''}"
	on:click="{() => current = 'neymar'}"
>neymar</button>

<style>
	button {
		display: block;
	}

	.selected {
		background-color: #ff3e00;
		color: white;
	}
</style>
