<script>
	let fontSize = 43;
</script>

<p style="font-size: {fontSize + 'px'};font-family:Georgia">
<span style='color:steelblue' ><p>I <span style='color:red'>really</span> like data visualisation!</p>
</span></p>
