<script>
const circleRadius=4
 function circumference(circleRadius) {
    
    const circum = 2 *Math.PI * circleRadius;
    return circum
}

var circum=circumference(circleRadius);


</script>


<p>The circumference of a circle with radius {circleRadius}m is {circum.toFixed(2)}m. </p>
