<script>
  // Properties
  export let year = 0;
  export let continent = "Country";
  var timer = false;
  let buttonname = "Start";
  function increment() {
    if (year == 214) {year = 0;} 
    else { year=year+1; }
  }

  function start() {
      if (timer == false) {timer = setInterval(increment, 100);
        buttonname = "Stop"; } else {
        clearInterval(timer);
        timer = false;
        buttonname = "Start";
      }    }

  function clear() { clearInterval(timer);
    timer = false;
    year = 0;
    buttonname = "Start";}

</script>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary" on:click="{start}">{buttonname}</button>
    <button type="button" class="btn btn-success" on:click="{clear}">Reset</button>
  </div>
  <div class="col">
    Year: {year + 1800}
    <input  type="range"  min="0" max="214" bind:value={year}>
  </div>
  <div class="col">
    <select bind:value={continent}>
      <option selected value="Country">Country</option>
      <option value="europe">europe</option>
      <option value="asia">asia</option>
      <option value="americas">americas</option>
      <option value="africa">africa</option>
    </select>
  </div>
</div>
