<script>
	let count = 0;
	
	function handleClick() {
		count += 1;
	}
    const reset= ()=>{
		count = 0;
		
	}
</script>

<button type="button" class="btn btn-primary" on:click={handleClick}>Clicks: {count}</button>
<button type="button" class="btn btn-success" on:click={reset}>Reset</button>