<script>
   import { onMount } from "svelte";
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays x-coordinates of the circle
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];
  let index = points.length; 

  function myTimer(_index) {if (index == -1) { clearInterval()}
  else
    {index--}
  };

onMount(()=>setInterval(myTimer, 1000));	

  // Color
$: color = index > -1 ? 'darkred' : 'darkgreen';

</script>
<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as dp,idx}
    <circle cx={dp} cy={height/3} r=10 fill={color} opacity={idx < index ? 0.3 : 1}/>
    {/each}
    <!--  -->
  </g>
</svg>
