<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Data Selection function
  const continents = ["europe", "asia", "americas", "africa"];

  function selectData(year, location) {
    let tmp = data[year]['countries'];
    if (continents.includes(location)) {
      return tmp.filter(d => d.continent == location);
    } else {
      return tmp;
    }
  }

  let bindYear = 0;
  let bindContinent = "Country";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });



</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={selectData(bindYear,bindContinent)} />
    <Controls bind:year={bindYear} bind:continent={bindContinent}/>
  </div>
{/if}
