<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  // Data selection
  let localLeft = [];
  let localRight = [];
  let global = [];

  function initGlobal(dataset) {
    if (dataset != null) {
      for (let i = 0; i<dataset.length; i++) {
        global.push(true);
      }
    }
  }

  function selectData(left, right) {
    for (let i=0; i<left.length; i++) {
      if (left[i] == right[i] && left[i] == true) {
        global[i] = true;
      } else {
        global[i] = false;
      }
    }
  }

  $: initGlobal(data);
  $: selectData(localLeft, localRight);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<!--
    <Scatter {data} {...s1} bind:selectedPoints_local={localLeft} selectedPoints_both={global}/>
    <Scatter {data} {...s2} bind:selectedPoints_local={localRight} selectedPoints_both={global}/>
-->
<Scatter {data} {...s1} bind:selectedPoints_local={localLeft} selectedPoints_both={global}/>
<Scatter {data} {...s2} bind:selectedPoints_local={localRight} selectedPoints_both={global}/>

{/if}

