

<script>// Dimensions
 
  
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  export let data=[];
  import {scaleLinear, scaleOrdinal} from 'd3-scale';
  import {axisBottom, axisLeft} from 'd3-axis';
  import {select} from 'd3-selection';
  import {schemeDark2} from 'd3-scale-chromatic';

  const scaleX=scaleLinear().domain([0,10000]).range([0,innerWidth]);
  const scaleY=scaleLinear().domain([90,0]).range([0,innerHeight]);
  const scaler=scaleLinear().domain([4000,13740000]).range([1.9,2.1]);
  const xAxis=axisBottom(scaleX).ticks(3).tickSize(3);
  const yAxis=axisLeft(scaleY);
  
  function botAx(dom) {
    
    xAxis(select(dom))};
  function botAy(dom) {yAxis(select(dom))};
  const colorScale = scaleOrdinal(schemeDark2).domain(["europe","asia","americas","africa"]);
</script>

<svg viewBox="0 0 {width+20} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as dp}
    <circle cx={scaleX(+dp.income)} cy={scaleY(+dp.life_exp)} r={scaler(+dp.population)} fill={colorScale(dp.continent)}/>
    {/each}
    <text x=-30 y={innerHeight/2+40} transform="rotate(-90,-30,{innerHeight/2+50})">Life expectancy</text>
    <text x=150 y=-10 class="bold">Gapminder Scatterplot</text>
    <text x={innerWidth/2+140} y={innerHeight-15} class="label">1800</text>
  </g>
 <g use:botAx transform={`translate(${margin.left},${innerHeight+margin.top+10})`}/>
 <g use:botAy transform={`translate(${margin.left},${margin.top})`}/>
</svg>

<style>
  .bold{font-weight: bold;}
  .label{
    font:bold 30px sans-serif;
    }
</style>