

<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
import { text } from 'svelte/internal';
  const scaler=scaleLog().domain([1,10]).range([10,600]);

	function xAxis(elem){
	const axis = axisBottom(scaler).ticks().tickSize(6).tickPadding(3);
	const svg=select(elem).call(axis).attr("transform",`translate(${0},${height - 35})`);
	
 }

</script>
<svg viewBox="0 0 {width} {height}">
	
  <g transform="translate({margin.left},{margin.top})">	
    <g use:xAxis></g>	
		
    {#each values as value}  
<circle cx={scaler(value)} cy=45 r=10 fill="steelblue"/>	
<!-- svelte-ignore component-name-lowercase -->
<text text-anchor="start" font-size="x-small" x="295" y="90">x label</text>

{/each}
  </g>

 
</svg>
