<script>
  import { scaleLinear } from "d3-scale";
  import { scaleOrdinal } from "d3-scale";
  import {schemeDark2} from "d3-scale-chromatic"
 
  
    // Dimensions
    const width = 800;
    const height = 100;
    const margin = { top: 20, right: 5, bottom: 5, left: 5 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    // Array
    const values = [
      { x: 2, y: 1, category: "cat1" },
      { x: 4, y: 2, category: "cat3" },
      { x: 6, y: 1, category: "cat2" },
      { x: 7, y: 3, category: "cat3" },
      { x: 9, y: 1, category: "cat2" }
    ];
  
    const scaleX=scaleLinear().domain([0,10]).range([0,innerWidth]);
    const scaleY=scaleLinear().domain([4,0]).range([0,innerHeight]);
    const colorScale = scaleOrdinal(schemeDark2).domain(["cat1","cat2","cat3"])

 
  
   
   
  </script>
  
  <svg viewBox="0 0 {width} {height}">
    <g transform="translate({margin.left},{margin.top})">
      {#each values as value}
      <circle cx={scaleX(value["x"])} cy={scaleY(value["y"])} r=5 fill={colorScale(value["category"])}></circle>
			<text x={scaleX(value["x"])} y={scaleY(value["y"])-10}
						class="small">{(value["y"])}</text>
			<line x1={scaleX(value["x"])} y1={scaleY(value["y"])+5} x2={scaleX(value["x"])} y2={innerHeight} stroke="black" />
      {/each}
      <line x1={innerHeight} y1={innerHeight} x2={innerWidth} y2={innerHeight} stroke="black" />
      <!--  -->
    </g>
 
  </svg>
  
  <style>
    text {
      text-anchor: middle;
      font-size: small;
    }
  </style>
  