<script>
   import {json} from 'd3-fetch';
   import {getContext,onMount} from 'svelte';
   import Scatterplot from './_ex_7_scatterplot.svelte';
     
    let data = null;
    onMount(async ()=> {
        data= await json('/data/gapminder.json');
        data = await data[0].countries;
    });
    </script>
    
    {#if data!=null}
    <Scatterplot data={data}/>
    {:else}
    <p>Data is getting loaded..</p>
    {/if}

    
    