<script>
  import CC from "$lib/ui/CodeInline.svelte";
  import Card from "$lib/ui/Card.svelte";
  import Img from "$lib/ui/Image.svelte";
  import Ds_1 from "./designs/design_1.svelte";
  import Ds_2 from "./designs/_design_2_plotting.svelte";
  import Ds_3 from "./designs/design_3.svelte";
</script>

<h1>Custom visualizations</h1>
<p>
  Earlier in the course, you created custom designs to visualize an energy
  consumption dataset. We have picked three of your designs for you to implement
  in the final assignment.
</p>

<h5>Design 1</h5>
<Img
  src="/img/line_thickness.png"
  caption="Design 1: Energy use over multiple days. "
  width="600"
/>
<p>
  This design shows energy use over time as the thickness of a line. Each line
  contains hourly information for the month december. There should be a line for
  each building type. In addition, it should be possible to select which data is
  shown using two sets of radio-buttons. The first set changes which city is
  shown. The second set changes how the thickness of the line is scaled: per
  line or across all lines.
</p>
<p>
  The main component for this design is located at <CC
    code="src/routes/final_project/designs/design_1.svelte"
  /> and you can load the data from <CC code="/data/heating_december.json" />.
  Before you start coding, think about how you want to structure your
  visualization. Feel free to create the sub-components you need, but please use
  the <CC code="_design_1_*.svelte" /> naming scheme for them.
</p>
<Card><Ds_1 /></Card>

<h5>Design 2</h5>
<Img
  src="/img/circular.png"
  caption="Design 2: Heating and cooling within a year."
  width="600"
/>
<p>
  This circular design shows the energy used for heating and cooling in a year.
  Time is shown as a clock, where months behave as hours. The main component for
  this design is located at <CC
    code="src/routes/final_project/designs/design_2.svelte"
  /> and you can load the data from <CC
    code="/data/daily_heating_cooling.json"
  />. Before you start coding, think about how you want to structure your
  visualization. Feel free to create the sub-components you need, but please use
  the <CC code="_design_2_*.svelte" /> naming scheme for them.
</p>
<Card><Ds_2 /></Card>

<h5>Design 3</h5>
<Img
  src="/img/leaves.png"
  caption="Design 3: Gas and electricity use as a tree."
  width="600"
/>
<p>
  This design shows the gas and electicity usage per week as leaves on a tree.
  Time goes upwards and weeks are shown on alternating sides. The main component
  for this design is located at <CC
    code="src/routes/final_project/designs/design_3.svelte"
  /> and you can load the data from <CC
    code="/data/hourly_electricity_vs_gas_december.json"
  />. Before you start coding, think about how you want to structure your
  visualization. Feel free to create the sub-components you need, but please use
  the <CC code="_design_3_*.svelte" /> naming scheme for them.
</p>
<Card><Ds_3 /></Card>
